<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DiziBulmaProjesi.Properties.Settings.DiziOtagProjesiConnectionString"
            connectionString="Data Source=DESKTOP-S04O6JB\SQLEXPRESS;Initial Catalog=DiziOtagProjesi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>